body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 98%);
  font-family: "Poppins", sans-serif;
}

#envelope {
  display: block;
  justify-content: space-between;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 300px;
  margin-top: 70px;
}

.content1 {
  background-color: white;
  width: 230px;
  align-self: center;
  box-shadow: 0 10px 10px #ddd;
  justify-content: center;
  align-items: center;
}
.content2 {
  background-color: white;
  width: 230px;
  height: 170px;
  box-shadow: 0 10px 10px #ddd;
  margin-bottom: 20px;
}
.content3 {
  background-color: white;
  width: 230px;
  height: 170px;
  box-shadow: 0 10px 10px #ddd;
}
.content4 {
  background-color: white;
  align-self: center;
  width: 230px;
  box-shadow: 0 10px 10px #ddd;
}

.box1 {
  border-radius: 4px;
  border-top: solid 3px hsl(180, 62%, 55%);
}

.box2 {
  border-radius: 4px;
  border-top: solid 3px hsl(0, 78%, 62%);
}

.box3 {
  border-radius: 4px;
  border-top: solid 3px hsl(34, 97%, 64%);
}

.box4 {
  border-radius: 4px;
  border-top: solid 3px hsl(212, 86%, 64%);
}

.header {
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
}

p {
  font-size: 11px;
  font-weight: 200;
  padding-left: 10px;
}

#big-para {
  font-size: 15px;
  font-weight: 200;
  margin-top: 20px;
}

img {
  width: 30px;
  padding-left: 150px;
  padding-bottom: 20px;
}

h6 {
  text-align: left;
  padding-left: 10px;
}

#bigbox {
  gap: 20px;
}
